@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* Estilo base */
body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
}

@media print {
  /* Ocultar elementos no deseados */
  body * {
    visibility: hidden;
  }
  
  .table-to-print, .table-to-print * {
    visibility: visible;
  }
  .table-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }

  .option-button{
    display: none;
  }
}



select{
  margin: 10px;
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

Link{
  text-emphasis: none;
  text-decoration: none;
}

/* Estilo del sidebar */
.sidebar {
  height: 100%;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3f3f3f;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  transition: all 0.3s ease;
  color: black;
  transition: all  0.3s ease;
}

.sidebar img{
  width: 100px !important;
  height: 100px;
}

.sidebar h2 {
  text-align: center;
  cursor: pointer;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 1rem;
  text-align: center;
}

.sidebar li:hover {
  background-color: #181818;
  border-radius: 35px;
  transition: all  0.3s ease;
  border: 1px solid;
}

.sidebar a {
  text-decoration: none;
  color: white;
}


/* Estilo del contenido principal */
.content {
  margin-left: 260px;
  padding: 20px;
  
}

.sidebar.collapsed {
  width: 0;
  margin-left: 2rem;
}

.content-shifted {
  transform: translateX(-8rem); /* Mueve el contenido 2 rem hacia la izquierda */
}

.sidebar.collapsed img {
  margin-left: 5rem;
}

/* */

/* Estilos para la tabla */
table {
  width: 100%; /* La tabla abarcará todo el ancho disponible */
  border-collapse: collapse; /* Fusiona los bordes de las celdas */
  border: 1px solid #ccc; /* Borde de la tabla */
}

/* Estilos para las celdas de encabezado */
th {
  background-color: #f2f2f2; /* Color de fondo del encabezado */
  border: 1px solid #ccc; /* Borde de las celdas de encabezado */
  padding: 8px; /* Espaciado interior */
  text-align: left; /* Alineación del texto en el encabezado */
}

/* Estilos para las celdas de datos */
td {
  border: 1px solid #ccc; /* Borde de las celdas de datos */
  padding: 8px; /* Espaciado interior */
  text-align: left; /* Alineación del texto en las celdas de datos */
}

tbody :hover{
  background-color: rgb(177, 208, 255);
  transition: all .1s ease-in-out;
}


td button{
  display: block; /* Hacer que el botón sea un bloque para centrarlo */
  margin: 5% auto;
  text-align: center; /* Centrar el texto del botón */
  color: white;
  border: none;
  justify-content: center;
  cursor: pointer;
  border-radius: 15px;
  width: fit-content;
  height: 2rem;
  transition: all .2s ease-in-out;
}

td button.free {
  background-color: #154b96;
}

td button.set {
  background-color: #18792d;
}

td button.free:hover {
  background-color: #1d62c4;
}

td button.set:hover {
  background-color: #25b343;
}

.pagination{
  display: flex;

  justify-content: center;
}

.pagination button{
  background-color: transparent;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #0056b3;
  text-decoration: underline;
  cursor: pointer;
}

.formulario-container {
  flex-wrap: wrap;
  padding-top: 2rem;
  background-color: #f0f0f0; /* Color de fondo */
}

/* Estilo para los inputs */
.formulario-container input {
  margin: 10px;
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo para el botón */
.formulario-container button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo para el botón cuando se coloca el mouse sobre él */
.formulario-container button:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
}

.login-container {
  width: 500px;
  margin: 15rem auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.login-container .form-group {
  margin-bottom: 15px;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.login-container button:hover {
  background-color: #0056b3;
}





.add{
  color: white;
  background-color: #25b343;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  width: fit-content;
  height: 2rem;
  transition: all .2s ease-in-out;
  margin-bottom: 1rem;
}

.add:hover{
  background-color: #18742c;
}



.import{
  color: white;
  background-color: #3a25b3;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  width: fit-content;
  height: 2rem;
  transition: all .2s ease-in-out;
  margin-bottom: 1rem;
}

.import:hover{
  background-color: #482ce4;
}


.error-message{
  text-align: center;
}


.images-area-container{
  max-width: 150vh;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: .5rem;
  border-radius: 15px;
  border: 5px #0056b3 dashed;
  background-color: #c1c4c7;
  
}

.images-area{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.images-area img{
  width: 20rem;
  border-radius: 5px;
}

.image-preview {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.remove-image {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para mayor visibilidad */
  padding: 2px 6px;
  border-radius: 50%;
}

.remove-image:hover {
  background-color: rgba(255, 0, 0, 0.8); /* Cambiar el fondo al pasar el mouse por encima */
  color: white; /* Cambiar el color del texto al pasar el mouse por encima */
}

.importar-bien{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.custom-file-input input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
}

/* Estilo del texto del botón */
.custom-file-input .btn {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo del texto del archivo seleccionado */
.custom-file-input .file-selected {
  margin-left: 10px;
}


.formulario-container-factura{
  display: grid;
  grid-template-columns: 300px 400px;
  padding-top: 2rem;
  background-color: #f0f0f0; /* Color de fondo */
}

.formulario-container-factura label{
  margin-top: 1rem;
  margin-left: 1rem;
}

.formulario-container-factura input {
  margin: 10px;
  padding: 10px;
  
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo para el botón */
.formulario-container-factura button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo para el botón cuando se coloca el mouse sobre él */
.formulario-container-factura button:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
}



.file-select {
  position: relative;
  margin: 1rem;
}

.file-select::before {
  background-color: #0056b3;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'Seleccionar'; /* testo por defecto */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.file-select input[type="file"] {
  opacity: 0;
  width: 200px;
  height: 32px;
  display: inline-block;
}

#src-file1::before {
  content: 'Adjuntar PDF';
}
